-- =========================================
-- Banco SQLite gerado a partir do schema Prisma
-- =========================================

-- Enum Role
CREATE TABLE "Role" (
    "value" TEXT NOT NULL PRIMARY KEY
);

INSERT INTO "Role" ("value") VALUES 
  ('FUNCIONARIO'),
  ('ADMINISTRADOR'),
  ('DESENVOLVEDOR'),
  ('CLIENTE');

-- Tabela User
CREATE TABLE "User" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT,
    "Name" TEXT NOT NULL,
    "email" TEXT NOT NULL UNIQUE,
    "hashedPassword" TEXT NOT NULL,
    "Role" TEXT NOT NULL REFERENCES "Role"("value")
);

-- Tabela Produto
CREATE TABLE "Produto" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT,
    "nome_produto" TEXT NOT NULL,
    "unidadePesagem" TEXT NOT NULL,
    "preco" INTEGER NOT NULL,
    "perecivel" BOOLEAN NOT NULL
);

-- Tabela Venda
CREATE TABLE "Venda" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT,
    "userId" INTEGER NOT NULL,
    "data" DATETIME DEFAULT CURRENT_TIMESTAMP,
    "valor_total" INTEGER,
    FOREIGN KEY ("userId") REFERENCES "User"("id")
);

-- Tabela venda_produto
CREATE TABLE "venda_produto" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT,
    "produtoId" INTEGER NOT NULL,
    "vendaId" INTEGER NOT NULL,
    "quantidade" REAL NOT NULL,
    "preco_unitario" INTEGER NOT NULL,
    "preco_produto_total" INTEGER NOT NULL,
    FOREIGN KEY ("produtoId") REFERENCES "Produto"("id"),
    FOREIGN KEY ("vendaId") REFERENCES "Venda"("id")
);

-- Views
CREATE VIEW "ProdutosMaisVendidos" AS
SELECT 
    produtoId,
    nome_produto AS nome,
    unidadePesagem,
    SUM(quantidade) AS total_vendido,
    SUM(preco_produto_total) AS valor_total
FROM venda_produto
JOIN Produto ON Produto.id = venda_produto.produtoId
GROUP BY produtoId, nome_produto, unidadePesagem;

CREATE VIEW "vendas_telas" AS
SELECT 
    Venda.id AS id,
    User.Name,
    Venda.data,
    Produto.nome_produto,
    Produto.preco,
    Produto.unidadePesagem,
    venda_produto.quantidade,
    venda_produto.preco_produto_total AS preco_produto_totaltotal
FROM venda_produto
JOIN Venda ON Venda.id = venda_produto.vendaId
JOIN Produto ON Produto.id = venda_produto.produtoId
JOIN User ON User.id = Venda.userId;
