@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.titulo {
  @apply text-4xl font-poppins font-semibold;
}

.table-base {
  @apply table-auto w-full h-full text-center font-poppins text-xl;
}

.table-base thead tr th div {
  @apply flex justify-center items-center gap-1;
}

.table-base thead tr {
  @apply *:text-4xl cursor-pointer border-b;
}

.table-base tbody tr {
  @apply border-b hover:bg-gray-50 *:p-3;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
